*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
}

@font-face {
    font-family: 'narrow';
    src: url("/fonts/ArchivoNarrow-Regular.otf") format("opentype");
}

.main{
    vertical-align: middle;
    width:100%;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,149,1) 14%, rgba(0,212,255,1) 100%);
}

.main section{
    background-size: cover;
    height:100vh;
    width: 85vw;
    display: table;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
}

.main footer{
    width: 85vw;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
}
/*----------------------------------------------*/
/*FONDO*/

.algas{
    position: relative;
    top:100%;
}

.algas img{
    margin:0;
    padding: 0;
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 1;
}

/*----------------------------------------------*/
/*LOADER*/

.loader_wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 99;
}
.loader_img {
    width: 200px;
}

.progressGroup {
    animation: 30s linear 1s infinite ProgressOpacity;
    opacity: 0.25;
}

.progress {
	animation: 1.5s ease-in-out infinite alternate Pulse;
}
.progress1 {
	animation: 30s linear 1s infinite Progress1;
	stroke-dasharray: 0 1000;
}
.progress2 {
	animation: 30s linear 1s infinite Progress2;
	stroke-dasharray: 0 0 1 1000;
	display: none;
}

@keyframes ProgressOpacity {
    to {
        opacity: 1;
    }
}
@keyframes Progress1 {
    to {
        stroke-dasharray: 280 1000;
    }
}
@keyframes Progress2 {
    to {
        stroke-dasharray: 0 280 1 1000;
    }
}
@keyframes Pulse {
    to {
    stroke: #ff6600;
    }
}
#wheel {
    animation: 1.5s linear infinite Spin;
    transform: rotate(0deg);
    transform-origin: 50px 50px;
}

@keyframes Spin {
    to {
        transform: rotate(360deg);
    }
}
#whisky {
    animation: 1.5s ease-in-out infinite alternate Rock;
    transform: rotate(20deg) translate(18px, 49px);
    transform-origin: 50px 50px;
}

@keyframes Rock {
    to {
        transform: rotate(-20deg) translate(18px, 49px);
    }
}
.legs {
    transform-origin: 40px -40px;
    transform: translatex(1px) rotate(2deg);
    animation: 0.25s ease-in-out infinite alternate Wiggle;
}

@keyframes Wiggle {
    50% {
        transform: translatex(-1px) rotate(-2deg);
    }
}

.loader_wrapper.hidden{
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity:0;
        visibility: hidden;
    }
}

/*----------------------------------------*/
/* NAVBAR */



/*----------------------------------------*/
/* HOME */

.home{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vh 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 80vw;
    vertical-align: middle;
}

.home h1{
    font-size: 100px;
    padding: 0;
    color: black;

}

.home h4{
    color: black;

}

.home h3{
    font-size: 50px;
    margin-top: 0;
    padding: 0;
    color: black;
}



.home, .home::before{
    background: 50% 50% / cover;
    background: rgba(255, 255, 255,1);
}

.home::before{
    bottom:0;
    content: "";
    left:0;
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    background: url(../img/bghome.jpg);
    transform-origin: center center 1;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
    min-height: 100vh;
}

.home *{
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 1em 0;
    color: black;
    font-family: 'narrow';
}

.botones{
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.buttonone{
    display: table-cell;
    text-align: center;
}

.buttontwo{
    display: table-cell;
    text-align: center;
    
}

/*----------------------------------------------*/
/* ABOUT US */

.about-us{
    background-color: rgb(255, 255, 255,1);
    position: relative;
    font-family: 'narrow';
    text-align: center;
}

.about-us h1{
    font-size: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.separator{
    position: absolute;
    border-top: 1px solid rgb(51,51,51,0.7);
    width: 80%;
    height: 2px;
    display: block;
    left:50%;
    transform: translateX(-50%);
}

.about-us p{
    font-size: 50px;
    width: 80%;
    margin:auto;
    margin-top: 50px;
    line-height: 120%;
}

.kitten{
    margin:0;
    position: absolute;
    left:0;
    bottom:0;
}

.puppie{
    margin:0;
    position: absolute;
    right: 0;
    bottom:0;
}

/*----------------------------------------------*/
/* SERVICIOS */

.services{
    background: rgb(167,135,127);
    background: linear-gradient(105deg, rgba(167,135,127,1) 0%, rgba(204,153,141,1) 29%, rgba(138,103,94,1) 100%);
    position: relative;
}

.services p{
    color:white;
    font-family: 'narrow';
    font-size: 100px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,100%);
    width: 100%;
}

/*----------------------------------------------*/
/* CONTACTO */

.contacto{
    background: rgba(100,171,237,1);
    background: -moz-linear-gradient(left, rgba(100,171,237,1) 0%, rgba(54,137,231,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,171,237,1)), color-stop(100%, rgba(54,137,231,1)));
    background: -webkit-linear-gradient(left, rgba(100,171,237,1) 0%, rgba(54,137,231,1) 100%);
    background: -o-linear-gradient(left, rgba(100,171,237,1) 0%, rgba(54,137,231,1) 100%);
    background: -ms-linear-gradient(left, rgba(100,171,237,1) 0%, rgba(54,137,231,1) 100%);
    background: linear-gradient(to right, rgba(100,171,237,1) 0%, rgba(54,137,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64abed', endColorstr='#3689e7', GradientType=1 );
    position: relative;
}

.contacto img{
    position: absolute;
    z-index: 1;
    width: 50%;
    top:-7.8%;
    left: 50%;
    transform: translateX(-50%);
}

.contacto-form{
    padding:5px;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.53);
}

.contacto-form h1{
    font-family: 'narrow';
    color:rgb(25,29,50,.8);
    font-size: 80px;    
    display: block;
    margin:0;
    position: relative;
}

.contacto-form #nombre, .contacto-form #apellido, .contacto-form #email,.contacto-form #mensaje{
    position: relative;
    display: flex;
    width: 60vh;
    height: 5vh;
    margin:auto;
    margin-top: 40px;
    background-color: #fff;
    font-family: 'narrow';
    color: black;
    letter-spacing: .1em;
    border: none;
    border-bottom: .1px solid rgb(40, 47, 68);
}

.contacto-form #mensaje{
    height: 10vh;
}

.contacto-form textarea{
    display: block;
    width: 60vh;
    height:20vh;
    resize: none;
    overflow-y: hidden;
}

.btn-enviar{
    margin-bottom: 10px;
    border:none;
    padding:8px 15px;
    background-color: rgb(25,29,50,.8);
    color:white;
    font-size: 15px;
    font-family: 'narrow';
    letter-spacing: .2em;
    transition: background-color ease-in-out 0.2s;
}

.btn-enviar:hover{
    background-color: #474796;
}

/*----------------------------------------------*/
/* FOOTER */

footer {
    background-color: #232c3b;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footerleft {
    margin-top: 20px;
    padding: 0 36px;
  }
  
  .logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    font-weight: 700;
  }
  
  .footerleft p {
    color: white;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
  }
  
  .footerleft p i {
    width: 20px;
    color: #fff;
  }
  
  .paddingtop-bottom {
    margin-top: 20px;
    padding:0;
  }
  
  .footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
  }
  
  .footer-ul li {
    line-height: 29px;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .footer-ul li a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 200;
    color: #fff;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    display: block;
    padding-bottom: 5px;
   text-align: center;
  }
  
  .footer-ul i {
    margin-right: 10px;
  }
  
  .footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #73b0f4;
  }
  
  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  .icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
  }
  
  .icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
  }
  
  .icon {
    float: left;
    margin-right: 5px;
  }
  
  .copyright {
    min-height: 40px;
    background-color: #141d29;
    position: relative;
    z-index: 30;
  }
  

  .copyright p {
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-bottom: 0px;
  }
  
  .heading7 {
    position: relative;
    margin: 0 0 25px;
    color: #fff;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
  }
  
  .heading7:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #fff;
  }
  
  .post p a {
    font-size: 12px;
    color: white !important;
    line-height: 20px;
  }
  
  .post p a span {
    display: block;
    color: #8f8f8f !important;
  }
  
  .bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
  }
  
  .bottom_ul li {
    float: left;
    line-height: 40px;
  }
  
  .bottom_ul li:after {
    content: "/";
    color: white;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .bottom_ul li a {
    color: white;
    font-size: 12px;
  }
  
  .post a:hover {
  
    text-decoration: none;
  }
  
  .btn-insta {
    color: white !important;
    background: transparent;
  }
  
  .fields {
    color: white;
    font-size: 15px;
    text-decoration: none;
  }
